# HW6 - student worksheet
    by Chuandong Liu
This assignment is solely my work.
<hr size="5"/>
<!DOCTYPE html>Focus: Lessons 12 & 13.
<html>

# Preparation

- Before attempting this homework, students should have read Severance <b>Chapters 1-8, 11 & 15</b> (Chp. 15 is for reference only) and the relevant lecture notes.<br>
- Save and name your Jupyter Notebook  using the following naming convention. <br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FirstName_LastName_HW6.ipynb

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; For example: George_Burdell_HW6.ipynb

---
Note: if the images do not render correctly (they must be included in a sub-directory img), then you can access them in the sub-directory img.

<b>Problem #1:</b> lists & regex

Write a program that uses a single regular expression to <u>extract</u> from the text file <i>Words&Numbers.txt</i> the sub-strings as shown in the <i>Extracted sub-string</i> column below. Store all the extracted sub-strings in a single <u>list</u> object. Print out the contents of your list.

<img src="img/P1.png" alt="drawing" height="300" width="500"/>

In [10]:
import re
myText = open('Words&Numbers.txt')
listValues = []
for line in myText:
    line = line.rstrip()
    if re.search('[0-9.]+', line):
        ms = re.search('[0-9,.]+', line)
        listValues.append(ms.group())
print(listValues)

['2399', '123.456', '123,456.789', '123.456', '432.198']

---
<b>Problem #2:</b> text and lists

Adapt your program from Problem 1 to update your list to reflect the following requirements:

* remove any thousand separators (i.e., commas) from the extracted values (using an approriate <u>string</u> function).
* change the data type of the values to float.
* round the float values to 2 decimal places using <code>round()</code>.
* print out the individual number using f-strings with commas as thousand separators (see https://stackoverflow.com/questions/1823058/how-to-print-number-with-commas-as-thousands-separators )

Print out the contents of your final list.

In [19]:
import re
myText = open('Words&Numbers.txt')
listValues = []
for line in myText:
    line = line.rstrip()
    if re.search('[0-9.]+', line):
        ms = re.search('[0-9,.]+', line)
        listValues.append(ms.group())
print(listValues)

for i in range(len(listValues)):
    listValues[i] = listValues[i].replace(',','')
print(listValues)

for i in range(len(listValues)):
    listValues[i] = float(listValues[i])
print("floats=>", listValues)

for i in range(len(listValues)):
    listValues[i] = round(listValues[i], 2)
print("rounded=>", listValues)

print()
print("Individual numbers:")
for i in range(len(listValues)):
    print(f"{listValues[i]:,}")

['2399', '123.456', '123,456.789', '123.456', '432.198']
['2399', '123.456', '123456.789', '123.456', '432.198']
floats=> [2399.0, 123.456, 123456.789, 123.456, 432.198]
rounded=> [2399.0, 123.46, 123456.79, 123.46, 432.2]

Individual numbers:
2,399.0
123.46
123,456.79
123.46
432.2

---
<b>Problem #3:</b> regex 2

Note: If you use the regex editor to design your modified regex, do not forget to change the mode to global & multi-line in the regex editor.

In the below image, there are four names. The following regular expression matches the first two and last names.

<code>^\w{3,}\s(\w\s)?\w{3,}</code>

<img src="img/P3A.png" alt="drawing" height="160" width="300"/>

Note: while the above regex expression was authored to also match other names of interest (not shown), you can focus on just the 4 example names.

Modify the above regex expression to result in only the following matches:

<img src="img/P3B.png" alt="drawing" height="80" width="150"/>

Then incorporate the regex into a program to search for the regex - so, use <code>re.search()</code>. <br>
Iterate over the names, and if the regex is not found, print 'No match found'. If found, print the match object.

In [21]:
'''
John Doe
John M Doe
John Mr Doe
John Deere
^\w{3,}\s(\w\s)?\w{3,}
''' 
import re
myText = open('Johns.txt')
listValues = []
for line in myText:
    line = line.rstrip()
    print()
    print(line)
    if re.search('^\w{3,}\s(\w{2,}\s)?\w{3,}', line):
        print(re.search('^\w{3,}\s(\w{2,}\s)?\w{3,}', line))
    else:
        print("No match found")

John Doe
<re.Match object; span=(0, 8), match='John Doe'>

John M Doe
No match found

John Mr Doe
<re.Match object; span=(0, 11), match='John Mr Doe'>

John Deere
<re.Match object; span=(0, 10), match='John Deere'>

---
<b>Problem #4:</b> regex 3

The file <i>UntidySQL.txt</i> contains the text of some SQL statements. Note: Completing this question does not require any knowledge of SQL.

We wish to 'tidy-up' this text by performing some operations:
### Part 1 (using str functions)
You can find information about str methods here: <https://www.w3schools.com/python/python_ref_string.asp>
* remove all underscore characters (using an approriate <u>string</u> function).
* remove any new line chrs   (Note: new line chrs. by default are hidden by a text editor. However, most better text editors - e.g. Notepad++ - you can show all symbols and reveal them.)
* remove all tab chracters
* remove any leading whitespace
* remove any trailing whitespace
* remove all occurrences of the word INNER
* change all characters to lower case

### Part 2 (using regex)
* remove any additional whitespaces (i.e., extra whitespace in addition to a single space). Hint: use <code>re.sub()</code>
* remove spaces around any relational operators. Hint: use <code>re.sub()</code> with backreferences
>* 1 chr: >, <, = 
>* 2 chr: !=, ==, <=, >=
* remove spaces before numbers [find numbers but replace around] Hint: use <code>re.sub()</code> with backreferences
* remove spaces around * character. Hint: use <code>re.sub()</code> with backreferences

Once tidied-up, print the updated SQL text.

In [35]:
# utility code
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"     # keep history of console output - so no need to use print()

import re

hdl = open('UntidySQL.txt')
SQLText = hdl.read()
print('Starting Text:')
SQLText

# write code here
# Hint: options include replace(), lstrip(), rstrip()
print('Part 1 Result:')
SQLText = SQLText.replace('_','')
SQLText = SQLText.replace('\n',' ')
SQLText = SQLText.replace('\t','')
SQLText = SQLText.lstrip()
SQLText = SQLText.rstrip()
SQLText = SQLText.replace('INNER','')
SQLText = SQLText.lower()
SQLText
# write code here
# Hint: use re.sub()
print('Part 2 Result:')
SQLText = re.sub('\s{2,}', ' ', SQLText)
SQLText = re.sub('(\s)(>)(\s)', r'\2', SQLText)
SQLText = re.sub('(\s)(<)(\s)', r'\2', SQLText)
SQLText = re.sub('(\s)(=)(\s)', r'\2', SQLText)
SQLText = re.sub('(\s)(!=)(\s)', r'\2', SQLText)
SQLText = re.sub('(\s)(==)(\s)', r'\2', SQLText)
SQLText = re.sub('(\s)(<=)(\s)', r'\2', SQLText)
SQLText = re.sub('(\s)(>=)(\s)', r'\2', SQLText)
SQLText = re.sub('(\s)(\d)', r'\2', SQLText)
SQLText = re.sub('(\s)(\*)(\s)', r'\2', SQLText)
SQLText

Starting Text:

"SELECT order_items.order_id, SUM(order_items.list_price * (1-order_items.discount) * order_items.quantity) as gross_sale\nFROM order_items, orders, products, product_description\nGROUP BY order_items.order_id\nORDER BY gross_sale DESC\nLIMIT 10 SELECT orderitems.orderid, orderitems.listprice * orderitems.quantity * (1 - orderitems.discount) AS 'order total' FROM orderitems ORDER BY orderitems.listprice * orderitems.quantity * orderitems.discount DESC\nSELECT orderitems.orderid, SUM((orderitems.listprice - (orderitems.listprice * orderitems.discount)) * orderitems.quantity) AS ordertotals\n\tFROM orderitems\n    GROUP BY orderitems.orderid\n    ORDER BY ordertotals DESC\n"

Part 1 Result:

"select orderitems.orderid, sum(orderitems.listprice * (1-orderitems.discount) * orderitems.quantity) as grosssale from orderitems, orders, products, productdescription group by orderitems.orderid order by grosssale desc limit 10 select orderitems.orderid, orderitems.listprice * orderitems.quantity * (1 - orderitems.discount) as 'order total' from orderitems order by orderitems.listprice * orderitems.quantity * orderitems.discount desc select orderitems.orderid, sum((orderitems.listprice - (orderitems.listprice * orderitems.discount)) * orderitems.quantity) as ordertotals from orderitems     group by orderitems.orderid     order by ordertotals desc"

Part 2 Result:

"select orderitems.orderid, sum(orderitems.listprice*(1-orderitems.discount)*orderitems.quantity) as grosssale from orderitems, orders, products, productdescription group by orderitems.orderid order by grosssale desc limit10 select orderitems.orderid, orderitems.listprice*orderitems.quantity*(1 - orderitems.discount) as 'order total' from orderitems order by orderitems.listprice*orderitems.quantity*orderitems.discount desc select orderitems.orderid, sum((orderitems.listprice - (orderitems.listprice*orderitems.discount))*orderitems.quantity) as ordertotals from orderitems group by orderitems.orderid order by ordertotals desc"

---
<b>Problem #5:</b> lists

Write a program that prompts the user for a list of numbers (the number of numbers entered may vary with each program execution). The entered numbers are stored in a list. After all the numbers have been entered, use the <code>max()</code> and <code>min()</code> functions to compute the maximum and minimum numbers and print them out, as below.

In [3]:
# write code here
listOfNums = []
num = input("Enter a number: ")
while num != "done":
    listOfNums.append(int(num))
    num = input("Enter a number: ")
print("Maximum:", max(listOfNums))
print("Minimum:", min(listOfNums))

Enter a number: 44
Enter a number: 55
Enter a number: 22
Enter a number: 12
Enter a number: 87
Enter a number: 32
Enter a number: done
Maximum: 87
Minimum: 12

---
<b>Problem #6:</b> lists

Reperform Problem #5 (enter the numbers in the order as shown below), but this time also use a <u>list comprehension expression</u> to create a new list after the numbers have been entered. Members of the new list will only be the numbers that are greater than the mean of all numbers that have been entered. Before displaying the final list, ensure it is ordered with the lowest number being shown first.

In [8]:
import statistics as st

listOfNums = []
num = input("Enter a number: ")
while num != "done":
    listOfNums.append(int(num))
    num = input("Enter a number: ")
result = [num for num in listOfNums if num > st.mean(listOfNums)]
print(sorted(result))

Enter a number: 87
Enter a number: 55
Enter a number: 22
Enter a number: 32
Enter a number: 44
Enter a number: 12
Enter a number: done
[44, 55, 87]

---

> Submit your Notebook through Canvas using the appropriate Assignment link.<br>
---- end of homework ----